@import "tailwindcss";

/* ✅ ACTIVAR DARK MODE EN TAILWIND v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* O prueba esta otra sintaxis si la anterior no funciona: */
@variant dark (&:where(.dark, .dark *));

/* Tu tema personalizado */
@theme {
  --color-primary-50: #C6B49F;
  --color-primary-100: #BBAC9B;
  --color-primary-200: #C3A179;
  --color-primary-300: #B3916B;
  --color-primary-400: #B57A35;
  --color-primary-500: #965F21;
  --color-primary-600: #6E4517;
  --color-primary-700: #442B0D;
  --color-primary-800: #3C2810;
  --color-primary-900: #392714;
  --color-primary-950: #352718;
}

body {
  transition: background 0.3s ease, color 0.3s ease;
}